/*
* FileName: style.css
* Author: James Guidry
* Date: 2 August 2016
* Description: Main style file for the Web-Project-1 site. 
*/ 

body{ 
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
} 

header nav{ 
	display: flex;
	justify-content: flex-end;
}










